<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	 <bean name="stu" class="com.rivet.SpringStudentMgt.Student">
		<property name="id" value="101"></property>

		<property name="name" value="drashti"></property>

		<property name="address" ref="address"></property>
	</bean> 


	<bean name="address" class="com.rivet.SpringStudentMgt.Address">
		<property name="street" value="Mograwadi"></property>
		<property name="city" value="valsad"></property>
	</bean>
	
	
	 <bean name="stu1" class="com.rivet.SpringStudentMgt.Student">
		<constructor-arg value="102"></constructor-arg>
		<constructor-arg value="diya"></constructor-arg>
		<constructor-arg  ref="address"></constructor-arg>
	</bean>
</beans>